html {
  font-size: 16px; }

body,
button {
  font-family: 'Roboto', sans-serif; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #363636; }

nav button.navbar-toggler.navbar-toggler-right {
  border: solid 1px #E2E2E2; }

nav button i.fa-bars {
  color: #E2E2E2;
  font-size: 1.5rem; }

@media (min-width: 768px) {
  #navbarNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

  #navbarNav ul li:nth-child(3) {
    border-bottom: solid 2px #33BBBB; }

  #navbarNav ul li a {
    color: #E2E2E2; }

  #navbarNav ul li a.nav-link {
    padding-bottom: 0;
    margin-bottom: 0; } }
.mainBanner {
  background: url("../image/imgcontactmovil.jpg") fixed no-repeat top;
  height: 100vh;
  background-size: cover;
  height: 480px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mainBanner h1,
h3 {
  color: #E2E2E2;
  margin: 0;
  padding: 0; }

.mainBanner h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #E2E2E2;
  margin-top: 3rem; }

.mainBanner h3 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #E2E2E2; }

.mainBanner div:nth-child(3) h3 {
  margin-top: -4rem; }

.mainBanner button {
  background-color: #007070;
  border: solid 1px #33BBBB;
  font-weight: 300;
  line-height: 24px;
  color: #E2E2E2; }

@media (min-width: 992px) {
  .mainBanner h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: #E2E2E2;
    margin-top: 3rem; }

  .mainBanner h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #E2E2E2; } }
.bradcrumbUs .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #0B4646; }

.bradcrumbUs .breadcrumb {
  background-color: transparent;
  border: none;
  margin: 0; }

.bradcrumbUs ol li a {
  color: #E2E2E2;
  text-decoration: underline; }

.bradcrumbUs .breadcrumb li.breadcrumb-item.active {
  font-size: 1rem;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #E2E2E2; }

.bradcrumbUs .breadcrumb li.breadcrumb-item.active::before {
  color: #E2E2E2; }

.content .row {
  background-color: #009191;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem; }

footer {
  background-color: #202020;
  padding-top: 3rem; }

footer h3 {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #E2E2E2; }

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #E2E2E2; }

footer .row ul span {
  background-color: #E2E2E2;
  color: #363636;
  padding: 0 1rem;
  font-weight: 700; }

footer .footer-Social li {
  display: inline-block;
  margin: 0;
  padding: 0; }

footer .footer-Social li i {
  color: #E2E2E2;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem; }

@media (min-width: 768px) {
  footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  footer .row div {
    padding: 1rem;
    margin: 1rem; }

  footer .footer-Social li i {
    color: #E2E2E2;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem; } }

/*# sourceMappingURL=estilos_contactus.css.map */