/* line 2, ../scss/estilos_nosotros.scss */
.bordes {
  border: solid 2px lime; }

/* line 6, ../scss/estilos_nosotros.scss */
.bordes1 {
  border: solid 2px red; }

/* line 10, ../scss/estilos_nosotros.scss */
.bordes2 {
  border: solid 2px blue; }

/* line 14, ../scss/estilos_nosotros.scss */
.bordes2 {
  border: solid 2px orangered; }

/* line 18, ../scss/estilos_nosotros.scss */
.bordes3 {
  border: solid 2px fuchsia; }

/* line 22, ../scss/estilos_nosotros.scss */
.bordes4 {
  border: solid 2px brown; }

/* line 31, ../scss/estilos_nosotros.scss */
html {
  font-size: 16px; }

/* line 35, ../scss/estilos_nosotros.scss */
body, h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Roboto', sans-serif !important; }

/* line 40, ../scss/estilos_nosotros.scss */
.bannerPrincipal {
  background: url(../image/imgMainBannerUs.jpg) fixed center no-repeat;
  background-size: cover;
  height: 100vh; }

/* line 46, ../scss/estilos_nosotros.scss */
.bannerPrincipal h1 {
  font-weight: 900; }

/* line 50, ../scss/estilos_nosotros.scss */
.bannerPrincipal button {
  background-color: #12AFAF; }

@media (min-width: 575px) {
  /* line 56, ../scss/estilos_nosotros.scss */
  .bannerPrincipal h1 {
    font-weight: bold; } }
@media (min-width: 768px) {
  /* line 63, ../scss/estilos_nosotros.scss */
  .bannerPrincipal h1 {
    font-size: 5rem;
    font-weight: bold; }

  /* line 67, ../scss/estilos_nosotros.scss */
  .bannerPrincipal h3 {
    font-size: 2rem; } }
@media (min-width: 1200px) {
  /* line 77, ../scss/estilos_nosotros.scss */
  .bannerPrincipal h1 {
    font-size: 6rem;
    font-weight: 900; }

  /* line 81, ../scss/estilos_nosotros.scss */
  .bannerPrincipal h3 {
    font-size: 2rem; } }
/* line 88, ../scss/estilos_nosotros.scss */
.breadcrumbUs {
  background-color: #12AFAF; }

/* line 92, ../scss/estilos_nosotros.scss */
.breadcrumbUs .row div {
  background-color: #009191; }

/* line 96, ../scss/estilos_nosotros.scss */
.breadcrumbUs ol {
  background-color: transparent;
  margin: 0; }

/* line 101, ../scss/estilos_nosotros.scss */
.breadcrumbUs .breadcrumb-item::before {
  color: white; }

/* line 109, ../scss/estilos_nosotros.scss */
.contenido {
  background-color: #12AFAF; }

/* line 112, ../scss/estilos_nosotros.scss */
.contenido .resaltado {
  background-color: #111111;
  opacity: 0.8;
  margin: 1rem;
  padding: 1rem; }

/* line 118, ../scss/estilos_nosotros.scss */
.contenido .resaltado span {
  padding: 0.3rem;
  background-color: #009191;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  color: white; }

/* line 127, ../scss/estilos_nosotros.scss */
.contenido .row div h6 {
  line-height: 130%; }

@media (min-width: 768px) {
  /* line 139, ../scss/estilos_nosotros.scss */
  .contenido .row div h6 {
    width: 50%; } }
@media (min-width: 1200px) {
  /* line 149, ../scss/estilos_nosotros.scss */
  .contenido h1 {
    font-size: 2.5rem;
    font-weight: 700; } }
/* line 157, ../scss/estilos_nosotros.scss */
footer {
  background-color: #111111; }

/* line 161, ../scss/estilos_nosotros.scss */
footer ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 167, ../scss/estilos_nosotros.scss */
footer div.info ul li {
  font-variant: small-caps; }

/* line 171, ../scss/estilos_nosotros.scss */
footer div.info span {
  background-color: #12AFAF; }

/*# sourceMappingURL=estilos_nosotros.css.map */