//------------------HELPERS------------- 
.bordes {
    border: solid 2px lime;
}

.bordes1 {
    border: solid 2px red;
}

.bordes2 {
    border: solid 2px blue;
}

.bordes2 {
    border: solid 2px orangered;
}

.bordes3 {
    border: solid 2px fuchsia;
}

.bordes4 {
    border: solid 2px brown;
}

//------------------DEFINIENDO COLORES -------------
$negroNav: #111111;
$azul:#12AFAF;
$bannerBreadCumb:#009191;
//------------------FUENTES -------------
html {
    font-size: 16px;
}

body, h1, h2, h3, h4, h5 , h6, p {
    font-family: 'Roboto', sans-serif !important;
}


 //------------------ESTILOS BANNER PRINCIPAL -------------
.bannerPrincipal {
    background: url(../image/imgcontactdesktop.jpg) fixed center no-repeat;
    background-size: cover;
    height: 100vh;
}

.bannerPrincipal h1 {
    font-weight: 900;
}

.bannerPrincipal button {
    background-color: $azul;
}

// animacion Flecha Arriba - Abajo
.bannerPrincipal .fa-chevron-down {
    animation-name: movimentoFlecha;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes movimentoFlecha {
    0% {
        transform: translateY(0px);
        color: white;
    }
    100% {
        transform: translateY(50px);
        color: $azul;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 575px) {
    .bannerPrincipal h1 {
        font-weight: bold;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .bannerPrincipal h1 {
        font-size: 5rem;
        font-weight: bold;
    }
    .bannerPrincipal h3 {
        font-size: 2rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .bannerPrincipal h1 {
        font-size: 6rem;
        font-weight: 900;
    }
    .bannerPrincipal h3 {
        font-size: 2rem;
    }
}

//------------------ESTILOS BREADCRUMBS -------------

.breadcrumbUs {
    background-color: $azul;
}

.breadcrumbUs .row div{
    background-color: $bannerBreadCumb;
}

.breadcrumbUs ol{
    background-color: transparent;
    margin: 0;
}

.breadcrumbUs .breadcrumb-item::before{
    color:white;
}

//------------------FORMULARIO -------------

.formulario .row button[type="submit"]{
    background-color: $azul;
}

.redesSociales p{
    font-size: 1rem;
}

.formulario .row .redesSociales a {
    animation-name: btnSociales;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.formulario .row .redesSociales a:hover {
animation-play-state: running;
    
}

@keyframes btnSociales {
    0% {
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.5);
    }
    100% {
        transform: scale(0.8);
    }
}




//------------------FOOTER -------------
footer {
    background-color: $negroNav;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer div.info ul li {
    font-variant: small-caps;
}

footer div.info span {
    background-color:indianred;
}
