//------------------HELPERS------------- 
.bordes {
    border: solid 2px lime;
}

.bordes1 {
    border: solid 2px red;
}

.bordes2 {
    border: solid 2px blue;
}

.bordes2 {
    border: solid 2px orangered;
}

.bordes3 {
    border: solid 2px fuchsia;
}

.bordes4 {
    border: solid 2px brown;
}

//------------------DEFINIENDO COLORES -------------
$negroNav: #111111;
$azul:#12AFAF;
$bannerBreadCumb:#009191;
//------------------FUENTES -------------
html {
    font-size: 16px;
}

body, h1, h2, h3, h4, h5 , h6, p , a, span{
    font-family: 'Roboto', sans-serif !important;
}

//------------------ESTILOS BANNER PRINCIPAL -------------
.bannerPrincipal {
    background: url(../image/imgMainBannerUs.jpg) fixed center no-repeat;
    background-size: cover;
    height: 100vh;
}

.bannerPrincipal h1 {
    font-weight: 900;
}

.bannerPrincipal a {
    background-color: $azul;
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 575px) {
    .bannerPrincipal h1 {
        font-weight: bold;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .bannerPrincipal h1 {
        font-size: 5rem;
        font-weight: bold;
    }
    .bannerPrincipal h3 {
        font-size: 2rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .bannerPrincipal h1 {
        font-size: 6rem;
        font-weight: 900;
    }
    .bannerPrincipal h3 {
        font-size: 2rem;
    }
}

//------------------ESTILOS BREADCRUMBS -------------

.breadcrumbUs {
    background-color: $azul;
}

.breadcrumbUs .row div{
    background-color: $bannerBreadCumb;
}

.breadcrumbUs ol{
    background-color: transparent;
    margin: 0;
}

.breadcrumbUs .breadcrumb-item::before{
    color:white;
}



//------------------ESTILOS CONTENIDO -------------

.contenido{
    background-color: $azul;
}



.contenido #accordion .card{
    border-radius: none;
    border:none;
}

#accordion .card div .bg-inverse {
    opacity: 0.9 !important;
}

#accordion .card .card-header{
    background-color:$bannerBreadCumb;
    box-shadow: inset 0px -84px 114px -42px rgba(76,76,76,0.3);
}

#accordion .card .card-header h5 a:hover{
    text-decoration: none;
}
#accordion .card .card-header h5 a:visited{
    text-decoration: none;
}

#accordion .card .card-header h5 a{
    text-decoration: none;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .contenido h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
 }


//------------------FOOTER -------------
footer {
    background-color: $negroNav;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer div.info ul li {
    font-variant: small-caps;
}

footer div.info span {
    background-color: indianred;
}
