//-------------------------------
//PATRON DE COLORES
//-------------------------------
//textos
$textoParrafos :#E2E2E2;
$textoTitulo:#E2E2E2;
$textoTituloSecundario:#007070;
//contenido
$azulContenido:#009191;
$verdeIconos:#66E666;
$verdeBanner: #0B4646;
$azulIconos:#5BCCCC;
$azulBotones:#007070;
$azulBotonesBordes:#33BBBB;
$negroBanners:#0B4646;
$negroHeader:#363636;
$negroFooter:#202020;
//-------------------------------
//FUENTES
//-------------------------------
html {
    font-size: 16px;
}

body,
button {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    background-color: $negroHeader;
}

nav button.navbar-toggler.navbar-toggler-right {
    border: solid 1px $textoParrafos;
}

nav button i.fa-bars {
    color: $textoParrafos;
    font-size: 1.5rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #navbarNav {
        display: flex;
        flex-direction: row-reverse;
    }
    #navbarNav ul li:nth-child(3) {
        border-bottom: solid 2px $azulBotonesBordes;
    }
    #navbarNav ul li a {
        color: $textoTitulo;
    }
    #navbarNav ul li a.nav-link {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

//----------------------------------------------------------------------------//
//start Main Banner 
.mainBanner {
    background: url("../image/imgMainBannerUs.jpg") fixed no-repeat bottom;
    height: 100vh;
    background-size:cover;
    height: 480px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mainBanner h1,
h3 {
    color: $textoTitulo;
    margin: 0;
    padding: 0;
}

.mainBanner h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: $textoTitulo;
    margin-top: 3rem;
}

.mainBanner h3 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: $textoTitulo;
}

.mainBanner div:nth-child(3) h3 {
    margin-top: -4rem;
}

.mainBanner button {
    background-color: $azulBotones;
    border: solid 1px $azulBotonesBordes;
    font-weight: 300;
    line-height: 24px;
    color: $textoParrafos;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

.mainBanner h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: $textoTitulo;
    margin-top: 3rem;
}

.mainBanner h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: $textoTitulo;
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

//----------------------------------------------------------------------------//
//start BreadCrumb
.bradcrumbUs .row {
    display: flex;
    justify-content: flex-end;
    background-color: $verdeBanner;
}

.bradcrumbUs .breadcrumb {
    background-color: transparent;
    border: none;
    margin: 0;
}

.bradcrumbUs ol li a {
    color: $textoParrafos;
    text-decoration: underline;
}

.bradcrumbUs .breadcrumb li.breadcrumb-item.active {
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: $textoTitulo;
}

.bradcrumbUs .breadcrumb li.breadcrumb-item.active::before {
    color: $textoParrafos;
}

.content .row {
    background-color: $azulContenido;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.content h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: $textoTitulo;
    margin-top: 3rem;
}

.content p {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: $textoParrafos;
}

.content button {
    margin: 1rem;
    background-color: $azulBotones;
    border: solid 2px $azulBotonesBordes;
    font-weight: 300;
    line-height: 24px;
    color: $textoParrafos;
}

//footer
footer {
    background-color: $negroFooter;
    padding-top: 3rem;
}

footer h3 {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: $textoTitulo;
}

footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $textoTitulo;
}

footer .row ul span {
    background-color: $textoTitulo;
    color: $negroHeader;
    padding: 0 1rem;
    font-weight: 700;
}

footer .footer-Social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

footer .footer-Social li i {
    color: $textoTitulo;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    footer .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer .row div {
        padding: 1rem;
        margin: 1rem;
    }
    footer .footer-Social li i {
        color: $textoTitulo;
        font-size: 2rem;
        margin: 0.5rem;
        padding: 0.5rem;
    }
}
